@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 100%;
}

body {
  box-sizing: border-box;
}

.animate-fadeInUp {
  animation: fadeInUp 0.7s ease-in-out;
}

.animate-fadeInUpShort {
  animation: fadeInUpShort 0.5s ease-in-out;
}

.animate-fadeInUpLong {
  animation: fadeInUp 0.7s ease-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUpShort {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-right,
.slide-left {
  width: 100%;
}

.slide-right {
  animation: 1.4s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 1.4s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
