@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 100%;
}

body {
box-sizing: border-box;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.35s ease-in-out;
}


