@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100%;
  scroll-behavior: smooth;
}

.fontHelvetica {
  font-family: "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

/* For WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
  visibility: hidden;
  width: 0;
}

html::-webkit-scrollbar-track {
  background-color: transparent; /* Hide track by making it transparent */
  visibility: hidden;
  width: 0;
}

body {
  box-sizing: border-box;
}


.animate-fadeInUp {
  animation: fadeInUp 0.7s ease-in-out;
}

.animate-fadeInUpShort {
  animation: fadeInUpShort 0.3s ease-in-out;
}

.animate-fadeInUpLong {
  animation: fadeInUp 0.7s ease-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInUpShort {
  from {
    transform: translateY(-18%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-right,
.slide-left {
  width: 100%;
}

.slide-right {
  animation: 1.4s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 1.4s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
